*{
    background-color: #242333;
}
body{
    margin: 0px;
    display: flex;
    
}
.overall{
    margin: 0 auto;
}
label{
    color: white;
}
select{
    background-color: white;
    height: 26px;
    width: 194px;
    border-radius: 5px;
    -webkit-appearance: none;/*去除select的下拉箭头*/
    text-align:center;
}
option{
    background-color: white;
}
.selection{
    margin: 5px auto;
    width: 278px;
    height: 28px;
    display: flex;
    /* align-content:; */
    justify-content: space-around;  /* 主轴*/
    /* background-color: rgba(0, 0, 0, 0.1); */
}
.seat{
    width: 15px;
    height: 12px;
    margin-left: 2px;
    background-color: #777;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.none{
    background-color:rgba(0, 0, 0, 0.1);
    color: #777;
    display: flex;
    flex-direction: row;
    align-items: center; /* 交叉轴*/
}